{% extends 'base.html' %}

{% load static %}

{% block meta %}
  <meta charset="UTF-8"/>
  <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
  />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock meta %}

{% block content %}
     

<div id = "centerContainer" class="d-flex flex-column">
    <h2>Add "{{ book.title }}" to Read Later</h2>
    <form id="readLaterForm">
        {% csrf_token %}
        <label for="priority">Priority: </label>
        {{ form.priority }}
        <button type="button" onclick="submitFormAjax()">Add to Read Later</button>
    </form>
</div>

<script>
    const bookId = "{{ book.id }}";
</script>

<script type="text/javascript" src="{% static '/js/submitFormAjax.js' %}"></script>

{% endblock content %}
