{% extends 'base.html' %}

{% load static %}

{% block content %}
<div>
<div class="container mt-4">
    <div class="row align-items-center"> 
    <div class="col-md-12"> 
        <div style="display: flex; justify-content: center; align-items: center;"> 
            <h1 class="mb-4">Your Read Later List</h1>
            <img src="{% static 'images/icon.png' %}" class="img-fluid ml-3" style="max-width: 30px;" /> 
        </div>
    </div>

    <p class="text-center lead"> Sesi terakhir login: {{ last_login }} </p>

    <div class="btn-group" role="group" aria-label="Priority Filter" style="display: flex; justify-content: center; margin: 20px 0;">
        <div class="btn-group" role="group" aria-label="Priority Filter">
            <a href="#" class="btn btn-secondary">All</a>
            <a href="#" class="btn btn-secondary">Low</a>
            <a href="#" class="btn btn-secondary">Medium</a>
            <a href="#" class="btn btn-secondary">High</a>
        </div>
    </div>
    
    <div id="info" style="display: flex; justify-content: center; align-items: center;"> </div>
    <div class="row" id="item_card"> </div> 

</div>
</div>

<script>
    let currentPriority = "all";
    let readLaterListJSONUrl = "{% url 'read_later:read_later_list_json' %}";
    let deleteItemAjaxUrlTemplate = "{% url 'read_later:delete_item_ajax' item_id='999' %}";
    let adjustPriorityAjaxUrlTemplate = "{% url 'read_later:adjust_priority_ajax' item_id='999' %}";
    let csrfToken = '{{ csrf_token }}';
    let isAdminString = "{{ is_admin|yesno:'true,false' }}";
    let isAdmin = (isAdminString === "true");
</script>

<script type="text/javascript" src="{% static '/js/read_later_list.js' %}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const filterButtons = document.querySelectorAll('.btn-group a');
        filterButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                const priority = this.textContent.toLowerCase();
                refreshProducts(priority);
            });
        });

    });
</script>

{% endblock content %}