{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}
            <meta charset="UTF-8" />
            <meta
                name="viewport"
                content="width=device-width, initial-scale=1.0"
            />
        {% endblock meta %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <style>
            body {
                padding-top: 40px;
            }
        </style>
    </head>

    <body>

        {% comment %} Navigation Bar {% endcomment %}
        <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-success">
            <div class="container">
                <a href="{% url 'main:show_main' %}" class="navbar-brand mb-0 h1"> <i class="bi bi-flower1"></i> Bookquet </a>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active">
                        {% if user.is_authenticated %}
                            {% comment %} Fitur Dashboard {% endcomment %}
                            <a type="button" class="btn btn-outline-light btn-sm" href="{% url 'dashboard:show_dashboard' %}">
                                <i class="bi bi-person-circle"></i>
                                {% comment %} TODO: Tambahin URL dashboard {% endcomment %}
                            </a>

                            {% comment %} Fitur Read Later {% endcomment %}
                            <a type="button" class="btn btn-outline-light btn-sm" href="{% url 'read_later:read_later_list' %}">
                                <i class="bi bi-journal-bookmark-fill"></i>
                                {% comment %} TODO: Tambahin URL read later {% endcomment %}
                            </a>

                            {% comment %} Fitur Logout {% endcomment %}
                            <a type="button" class="btn btn-outline-light btn-sm" href="{% url 'main:logout' %}" href="{% url 'main:logout' %}">
                                <i class="bi bi-box-arrow-right"></i>
                            </a>
                            
                        {% else %}
                            {% comment %} Fitur Login {% endcomment %}
                            <a type="button" class="btn btn-outline-light btn-sm" href="{% url 'main:login' %}">
                                <i class="bi bi-door-open-fill"></i>
                                {% comment %} TODO: Tambahin URL logout {% endcomment %}
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>

        {% block content %}
        {% endblock content %}
    </body>
</html>