{% extends 'base.html' %}
{% load static %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">

{% block content %}
<style>
    .h-full{
        height: 95vh;
    }

    .font-lato{
        font-family: 'Lato', sans-serif;
        font-weight: 700;
    }
</style>

<div class="d-flex bg-primary-subtle flex-row h-full" style="padding: 70px 100px">
    <div class="container d-flex flex-column gap-3">
        <h1 class="font-lato">{{book.title}}</h1>

        <text>
            <span>by: {{book.author}}</span>
            <span>{{book.genres}}</span>
        </text>
       
        <section>
            <img src="{% static 'images/filled-star.png' %}" style="width: 40px; height: 40px;"></img>
            <img src="{% static 'images/filled-star.png' %}" style="width: 40px; height: 40px;"></img>
            <img src="{% static 'images/filled-star.png' %}" style="width: 40px; height: 40px;"></img>
            <img src="{% static 'images/filled-star.png' %}" style="width: 40px; height: 40px;"></img>
            <img src="{% static 'images/filled-star.png' %}" style="width: 40px; height: 40px;"></img>
            <span>{{book.average_rate}}</span>
            <span>({{book.user_rate|default:0}})</span>
        </section>
       

    <p>{{book.description}}</p>


    <section>
        <a href="{% url 'book_preview:add_rating_comment' book.pk %}">
            <button>
                Rate & Review
            </button>
        </a>
    </section>
    

    </div>
        <img src="{{book.cover_img}}" class="w-5"></img>
    </div>

<div class="container d-flex flex-row" style="padding: 50px 0px; gap: 40px;">
    <section>
        {{rate|length}}

    </section>

    <section>
        aaaa
    </section>


</div>

{% endblock content %}