{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <meta charset="UTF-8"/>
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock meta %}

{% block content %}

<div class="d-flex flex-column h-full justify-content-center align-items-center container text-center gap-2">
  <h3>Beri Penilaian pada Buku {{ book.title }}</h3>

  <form id="rating-comment-form" class="d-flex flex-column gap-3">
    {% csrf_token %}
    <div class="star-rating" data-rating="0" for="rating">
      <img src="{% static 'images/empty-star.png' %}" alt="Empty Star" data-rating="1">
      <img src="{% static 'images/empty-star.png' %}" alt="Empty Star" data-rating="2">
      <img src="{% static 'images/empty-star.png' %}" alt="Empty Star" data-rating="3">
      <img src="{% static 'images/empty-star.png' %}" alt="Empty Star" data-rating="4">
      <img src="{% static 'images/empty-star.png' %}" alt="Empty Star" data-rating="5">
    </div>

    <div class="form-floating">
        <textarea id="comment" name="comment" class="form-control" style="min-width: 400px; min-height: 100px;"></textarea>
        <label for="komentar">Komentar</label>
    </div>

    <button type="button" onclick="submitRatingCommentAjax()" class="btn btn-success">Kirim</button>
</form>
</div>

<script>
  var selectedRating = 0;

  let emptyStarIMG = "{% static 'images/empty-star.png' %}"
  let filledStarIMG = "{% static 'images/filled-star.png' %}"
  let ratePreviewURL = "{% url 'book_preview:add_rating_comment' book.id %}"
  let crsf = '{{ csrf_token }}'

</script>

<script type="text/javascript" src="{% static 'js/rate_review.js' %}"></script>


{% endblock content %}
