{% block content %}

    <h1>Admin Page</h1>

    <h5>title:</h5>
    <p>{{title}}</p>

    <h5>author:</h5>
    <p>{{author}}</p>

    <h5>desc:</h5>
    <p>{{description}}</p>

    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for product in products %}
            <tr>
                <td>{{books.name}}</td>
                <td>{{books.price}}</td>
                <td>{{books.description}}</td>
            </tr>
        {% endfor %}
    </table>
    
    <br />
    
    <a href="{% url 'adminpage:add_book' %}">
        <button>
            Add a New Product
        </button>
    </a>
    
{% endblock content %}