<form id="quote-form" method="post" data-url="{% url 'adminpage:manage_quote_of_the_day' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Simpan</button>
</form>

<script>
    $(document).ready(function () {
        $('#quote-form').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'post',
                url: $(this).data('url'),
                data: $(this).serialize(),
                success: function (data) {
                    alert('Quote of the Day berhasil disimpan.');
                }
            });
        });
    });
</script>
