{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <meta charset="UTF-8"/>
  <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
  />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock meta %}

{% block content %}
  <header id="hero-outer" class="p-4 rounded-3">
    <div id="hero-inner" class="container">
      <h1 class="display-4 fw-bold"> 📕 Bookquet 💐 </h1>
      <p class="col-md-8 lead"> Di setiap buku, terdapat karangan kata-kata berbunga! ✨ </p>
      <figure>
        <blockquote class="blockquote">
          <p>If you don’t like to read, you haven’t found the right book.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          <cite title="Source Title">J.K. Rowling</cite>
        </figcaption>
      </figure>
      
      {% if user.is_authenticated %}
        <p class="display-6 text-center fw-bold"> Selamat datang {{ name }}! 👋🏻 </p>
        <p class="text-center lead"> Sesi terakhir login: {{ last_login }} </p>
      {% endif %}
    </div>
  </header>

  <div id="search-bg">
    <div id="search-outer" class="container rounded-pill w-75"> 
      <div id="search-inner" class="d-flex" style="padding: 10px 10px 10px 10px;">
        {% if status %}
          <p class="fw-bold p-2 flex-grow-1" style="color: white; margin: auto;" id="search-prompt"> Cari buku? </p>
          <a class="btn btn-outline-light" type="button" id="find-button"data-bs-toggle="modal" data-bs-target="#findBookModal"> <i class="bi bi-search"></i> </a>
        {% else %}
          <p class="fw-bold p-2 flex-grow-1" style="color: white; margin: auto;" id="search-prompt"> Mohon maaf, fitur pencarian sedang dinonaktifkan </p>
        {% endif %}
      </div>
    </div>
  </div>

  <br>
  {% if user.is_staff %}
    <p class="container lead text-center"> Fitur favorit tidak tersedia dalam mode pencarian </p>
  {% endif %}
  <br>

  {% if user.is_staff %}
    <h2 class="container d-flex justify-content-center fw-bold"> 🧑‍💻 Pojok Admin 👩‍💻 </h2>
    <div class="containter d-flex justify-content-center fw-bold">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" {% if status %} checked {% endif %}>
        <label class="form-check-label" for="flexSwitchCheckChecked"> Fitur Search </label>
      </div>
    </div>
  {% endif %}
          
  <br>

  <h2 class="container d-flex justify-content-center fw-bold"> 📚 Daftar Buku 📚 </h2>

  <br>
  <div class="container">
    <input type="hidden" id="user-id" value="{{user.pk}}">
    <div class="container">
      <div class="row row-cols-2 row-cols-md-4 g-4" id="buku">
        {% for book in books %}
          <div class="col">
            <div class="card h-100" data-genre="{{ book.genres }}">
              <div class="card-header d-flex justify-content-center">
                <div class="p-1 w-100">
                  {% with ''|center:5 as range %}
                    {% for i in range %}  
                        {% if forloop.counter0 < book.average_rate %}
                          <i class="bi bi-star-fill"></i>
                        {% else %}
                          <i class="bi bi-star"></i>
                        {% endif %}
                    {% endfor %}
                  {% endwith %}
                </div>

                <div class="p-1 flex-shrink-1">
                  {% if user.is_staff %}
                    <a type="button" class="favorite-button" style="text-decoration: none; color: black;" data-book-id="{{ book.id }}">
                      {% if user in book.favorites.all %}
                        <i class="bi bi-heart-fill"></i>
                      {% else %}
                        <i class="bi bi-heart"></i>
                      {% endif %}
                    </a>
                  {% endif %}
                </div>
              </div>

              <a href="{% url 'book_preview:show_preview' book.pk %}" style="text-decoration: none; color: black;">
                <img src= {{ book.cover_img }} class="card-img-top">
              </a>
              <div class="card-body">
                <h5 class="card-title fw-bold"> {{ book.title }} </h5>
                <p class="card-text"><small class="text-body-secondary"> {{ book.author }} </small></p>
                <p class="card-text"><small class="text-body-success border border-success rounded p-1"> {{ book.genres }} </small></p>
              </div>
              {% if user.is_authenticated %}
                <div class="card-footer text-muted"> <a href="read-later/add-to-read-later/{{ book.id }}/" style="text-decoration: none; color: black;"> <i class="bi bi-bookmark-plus"></i> Read Later </a> </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <br>
  <br>

  {% comment %} Modal untuk merequest buku {% endcomment %}
  <div class="modal fade" id="findBookModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fw-bold" id="modalLabel"> Cari Buku</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="form" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <p class="fw-bold"> Judul buku: </p>
                    {{ form.title }}
                </div>
                <div class="mb-3">
                  <p class="fw-bold"> Genre: </p>
                  {{ form.genres }}
                </div>
              </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal"> <i class="bi bi-search"></i> </button>
            </div>
        </div>
    </div>
  </div>

  <br>

  {% if user.is_authenticated %}
    <script>
      var userAuthenticated = true;
    </script>
  {% else %}
    <script>
      var userAuthenticated = false;
    </script>
  {% endif %}

  <script type="text/javascript" src="{% static '/js/main.js' %}"></script>

{% endblock content %}