{% extends 'base.html' %}
{}

{% block content %}
  <style>
    #hero-outer {
      background-color:#defff2;
    }
    #hero-inner {
      padding-top: 50px;
      padding-bottom: 30px;
    }
    #search-outer {
      background-color: #408558;
    }
    #search-button {
      padding: 20px 10px 20px 10px;
    }
    #search-bg {
      background: linear-gradient(
        to top,
        white 0%,
        white 50%,
        #defff2 50%,
        #defff2 100%
      );
    }
    .book {
      padding: 10px 10px 10px 10px;
    }
    .hide {
      display: none;
    }
    #add-book-judul {
      background: linear-gradient(
        to top,
          #defff2 0%,
          #defff2 50%,
          white 50%,
          white 100%
      );
    }
    #add-book-isi {
      background-color:#defff2;
    }

  </style>

  <header id="hero-outer" class="p-4 rounded-3">
    <div id="hero-inner" class="container">
      <h1 class="display-4 fw-bold"> 📕 Bookquet 💐 </h1>
      <p class="col-md-8 lead"> Di setiap buku, terdapat karangan kata-kata berbunga! ✨ </p>
      <figure>
        <blockquote class="blockquote">
          <p>If you don’t like to read, you haven’t found the right book.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          <cite title="Source Title">J.K. Rowling</cite>
        </figcaption>
      </figure>
      {% if user.is_authenticated %}
        <p class="display-6 text-center fw-bold"> Selamat datang {{ name }}! 👋🏻 </p>
        {% if user.is_staff %}
          <p class="display-6 text-center fw-bold"> Kamu adalah admin! </p>
        {% endif %}
      {% endif %}
    </div>
  </header>

  <div id="search-bg">
    <div id="search-outer" class="container rounded-pill w-75"> 
      <div class="d-flex" style="padding: 10px 10px 10px 10px;">
        <p class="fw-bold p-2 flex-grow-1" style="color: white; margin: auto;"> Cari buku? </p> 
        <a class="btn btn-outline-light" type="button" id="find-button" data-bs-toggle="modal" data-bs-target="#findBookModal"> <i class="bi bi-search"></i> </a>
      </div>
    </div>
  </div>
  <br>

  <h4 class="container d-flex justify-content-center fw-bold"> 📚 Daftar Buku 📚 </h4>

  <br>
  <div class="container">
    <div class="container">
      <div class="row row-cols-2 row-cols-md-4 g-4" id="buku">
        {% for book in books %}
          <div class="col">
            <div class="card h-100" data-genre="{{ book.genres }}">
              {% comment %} TODO: tambahin link review book {% endcomment %}
              <a href="" style="text-decoration: none; color: black;">
                <img src= {{ book.cover_img }} class="card-img-top">
              </a>
              <div class="card-body">
                <h5 class="card-title fw-bold"> {{ book.title }} </h5>
                <p class="card-text"><small class="text-body-secondary"> {{ book.author }} </small></p>
                <p class="card-text"><small class="text-body-success border border-success rounded p-1"> {{ book.genres }} </small></p>
              </div>
              <div class="card-footer text-muted"> <a href="{% url 'main:read_later_book' book.id %}" style="text-decoration: none; color: black;"> <i class="bi bi-bookmark-plus"></i> Read Later </a> </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <br>
  <br>

  {% comment %} Modal untuk merequest buku {% endcomment %}
  <div class="modal fade" id="findBookModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fw-bold" id="modalLabel"> Cari Buku</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="form" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <p class="fw-bold"> Judul buku: </p>
                    {{ form.title }}
                </div>
                <div class="mb-3">
                  <p class="fw-bold"> Genre: </p>
                  {{ form.genres }}
                </div>
              </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal"> <i class="bi bi-search"></i> </button>
            </div>
        </div>
    </div>
  </div>

  <br>
  
  <footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="fw-bold"> 📕 Bookquet 💐 </h5>
  
          <p>
            Sebuah aplikasi inovatif yang menghadirkan literasi ke dalam pengalaman baru.
            Lebih dari sekadar perpustakaan pribadi, Bookquet memanjakan pengguna melalui fitur penyimpanan buku yang akan dibaca nanti.
            Selain itu, pengguna dapat memberikan ulasan mengenai buku yang sudah dibaca.
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="fw-bold"> 👥 Kelompok D-12 👥</h5>
  
          <p>
            Proyek ini dibuat untuk memenuhi tugas Proyek Tengah Semester (PTS) pada mata kuliah
            Pemrograman Berbasis Platform (CSGE602022) yang diselenggarakan oleh Fakultas Ilmu Komputer, 
            Universitas Indonesia Tahun Ajaran 2023/2024 Semester Gasal.
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3 text-light" style="background-color: #408558;">
      Copyright © 2023 D-12
    </div> 
    <!-- Copyright -->
  </footer>

  <script>
    function searchBook() {
        const title = document.querySelector('#id_title').value;
        const genre = document.querySelector('#id_genres').value;
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        fetch("{% url 'main:find_book' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": csrfToken,
            },
            body: JSON.stringify({ title, genre }),
        })
        .then((response) => {
            if (!response.ok) {
                throw new Error(`Network response was not ok: ${response.status}`);
            }
            return response.json();
        })
        .then((data) => {
            // Clear existing cards
            const bukuDiv = document.getElementById('buku');
            bukuDiv.innerHTML = '';

            // Populate cards with the search results
            data.books.forEach((book) => {
                const card = document.createElement('div');
                card.className = 'col';
                card.innerHTML = `
                    <div class="card h-100" data-genre="${ book.genres }">
                      {% comment %} TODO: tambahin link review book {% endcomment %}
                      <a href="" style="text-decoration: none; color: black;">
                        <img src= ${ book.cover_img } class="card-img-top">
                      </a>
                      <div class="card-body">
                        <h5 class="card-title fw-bold"> ${ book.title } </h5>
                        <p class="card-text"><small class="text-body-secondary"> ${ book.author } </small></p>
                        <p class="card-text"><small class="text-body-success border border-success rounded p-1"> ${ book.genres } </small></p>
                      </div>
                      <div class="card-footer text-muted"> <a href="read-later/add-to-read-later/${ book.id }/" style="text-decoration: none; color: black;"> <i class="bi bi-bookmark-plus"></i> Read Later </a> </div>
                    </div>
                `;
                bukuDiv.appendChild(card);
            });
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }

    document.getElementById("button_add").addEventListener('click', function (event) {
        event.preventDefault(); // Prevent default form submission
        searchBook(); // Call the searchBook function
    });

    document.getElementById("form").addEventListener("keydown", function (e) {
      if (e.key === "Enter") {
        e.preventDefault(); // Prevent the default form submission action
      }
    });
  </script>

{% endblock %}